.title {
    font-family: 'Open Sans', sans-serif;
    font-size: 45px;
    text-align: center;
}

#social .title {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-align: center;
}

#subtitle {
    font-family: 'Open Sans';
    font-size: 15px;
    text-align: center;
}

#profile {
    font-family: 'Inconsolata';
    text-align: center;
}

.row .fa-ul {
    font-family: 'Inconsolata';
}