.title {
    font-family: 'Open Sans', sans-serif;
    font-size: 55px;
    text-align: center;
}

#social .title {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-align: center;
}

#subtitle, #profile {
    font-family: 'Inconsolata';
    text-align: center;
}

.row .fa-ul {
    font-family: 'Inconsolata';
}